<mt:ignore>=== entry_field_basename [start] ===</mt:ignore>
<mtapp:setting
    id="entry_field_basename"
    hint="Input a basename of field storing entry ids."
    show_hint="1"
    label="<__trans phrase='Entry Field Basename'>">
    <input type="text" name="entry_field_basename" id="entry_field_basename" class="text" value="<mt:var name="entry_field_basename" escape="html">" mt:watch-change="1" autocomplete="off">
</mtapp:setting>
<mt:ignore>=== entry_field_basename [ end ] ===</mt:ignore>
<mt:ignore>=== page_field_basename [start] ===</mt:ignore>
<mtapp:setting
    id="page_field_basename"
    hint="Input a basename of field storing page ids."
    show_hint="1"
    label="<__trans phrase='Page Field Basename'>">
    <input type="text" name="page_field_basename" id="page_field_basename" class="text" value="<mt:var name="page_field_basename" escape="html">" mt:watch-change="1" autocomplete="off">
</mtapp:setting>
<mt:ignore>=== page_field_basename [ end ] ===</mt:ignore>
